@charset "UTF-8";
/* CSS Document */

.boarddesk
{
    /*
    width: 200px;
    height: 200px;
    */
    margin: auto;
    /*margin-top: 30px;
    margin-bottom: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.boarddiv
{
    /*
    width: 200px;
    height: 200px;
    */
    background-color: #D1D1D1;
    
}
.boardtable
{
    /*
   width: 24px;!important;
    height: 24px;!important;
   margin:auto;
    */
 }
.boardcell
{
    width: 24px;!important;
    height: 24px;!important;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}